<style> 
	main { max-width: 1200px; }
	section { max-width: 600px;  }

   .topnav {
  overflow: hidden ;
  background-color: #0000;
}


body
{font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
background-color: white; 
    
}
::-webkit-scrollbar {
    display: none;
}

a, h1, topnav, figcaption{color: darkslategrey!important;}

a:link{color: black;}
a:hover, a:active, figcaption:hover{color: black!important;}

p
{font-family: 'Akzidenz Regular', 'Helvetica', sans-serif;
    font-size: 18px;
    color: gray;
    letter-spacing: 0.5px;
    line-height: 28px;
    font-weight: 400;}


@media only screen and (max-width: 800px){
    .jspContainer { margin-left:150px;}
}
.container a {color: black;
    text-decoration: none;}

.topnav0, .topnav1, .topnav2, .topnav3 {
    display: none; }



.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 30px 20px 10px  10px;
  text-decoration: none;
  font-size: 30px;
font-weight: 600;
padding-right: 30px;
text-transform :uppercase;
    
}

.topnav a:hover {
  background-color: none;
}


.active {
float: left;
display: block;
color: black;
text-align: center;
padding: 20px 10px 10px  40px;
text-decoration: none;
text-align: center;
position : relative;
font-weight: 900;
font-size : 40px;
}


@media only screen and (max-width: 800px) {
    .topnav, .active {
        display: none;
        text-transform: uppercase;
        
    }
   
@media only screen and (max-width: 800px){
    .inner_wrap, {
    padding-left: 1vh;
    width: 100% ; height: auto;
    text-align: center;bottom:50px;}
    }
    
   
    .topnav0 {
        top : 0;
        left : 0;
        padding: 20px 10px 30px 20px;
        position: fixed;
        color: black;
        font-size: 30px;
        display: block;
        font-weight: 600;
    }
    .topnav1 {
        top : 0;
        right : 0;
        padding: 20px 15px 30px 20px;
        position: fixed;
        color: black;
        font-size: 30px;
        display: block;
        font-weight: 600;
    }
    
    .topnav2 {
        bottom : 0;
        left : 0;
        padding: 10px 10px 30px 20px;
        position: fixed;
        color: black;
        font-size: 30px;
        display: block;
        font-weight: 600;
    }
    
    .topnav3 {
        bottom : 0;
        right : 0;
        padding: 10px 30px 30px 20px;
        position: fixed;
        color: black;
        font-size: 30px;
        display: block;
        font-weight: 600;
    }
}


.container {
    display: flex;
    width: 100%;
    margin-top: 40px;
overflow-y: scroll;
}

.container3 {display:flex; margin-right: 150px;}

.container img {
    display: flex;
   align-items: center;
   height: 60vh;
    margin-top : 50px;
margin-bottom: 40px;
}

.container h1 {margin-left: 40px; margin-right: 320px;padding-right: 120px; margin-top : 50px;color: darkslategray!important;}


.container h2 { display: flex; font-size: 30px;
    margin-top : 150px;
   margin-left: -320px;
    left: 0;
    text-align: left;
    overflow-y: scroll; color: darkslategray!important;}
.container h2:hover{color:black!important;}



.container h3 { display: flex;font-size: 30px; 
    margin-top : 170px;
   margin-left: -420px;
    padding-top: 40px;
  
    left: 0;
    text-align: left;
    overflow-y: scroll; color: darkslategray!important;}
.container h3:hover{color:black!important;}



@media only screen and (max-width: 800px){
    .container h1 { margin-left: 15px; margin-top: 100px;},
}
@media only screen and (max-width: 800px){
    .container h2 {margin-top: 160px;}
}
   
  
figcaption {
    text-align: center!important;
    font-size: 20px;
    text-transform: uppercase;}

@media only screen and (max-width: 800px){
    figcaption { font-size:15px },
}

h3 {padding-top: 60px; padding-left: 100px; 
padding-right: 20px;
font-size: 30px;
text-align: center;}

h4 {padding-left:40px; 
margin-top: 100px;
margin-bottom: 50px;
margin-right: 30px;
text-align: left;
font-size: 30px;
font-weight: 600;
text-transform: uppercase;
color: darkslategrey;
}

h5{padding-left:40px; 
margin-top: 100px;
margin-bottom: 50px;
margin-right: 30px;
text-align: left;
font-size: 60px;
font-weight: 600;
text-transform: uppercase;
color: darkslategrey;

}
.buttonback {padding-top: 60px;padding-left: 20px;; display: flex;
float: left; position: absolute;
border: none;
background: none;
font-size: 40px;cursor: pointer;
font-family: 'Open Sans', sans-serif;
font-weight: 600;
color: darkslategrey;}

input[type="button"]
{
    border: none!important;
    outline:none!important;
}

.buttonback:hover {color: black;}

/* split screen */
.split {
  height: auto;
  width: 45%;
  position: absolute;
  z-index: 1;
top : 200px;
    bottom: 50px;
  overflow-x: hidden;
    
}

@media only screen and (max-width: 900px){
    .split {top : 100px;
    bottom: 100px;},
}

/* Control the left side */
.left {
left: 0;
background-color: none;
margin-left: 50px;
cursor: url('../images/arrow-down.png'), auto;
}

.left img {height: auto; width: 100%;}
.right img {height: auto; width: 100%;}


/* Control the right side */
.right {
right: 0;
background-color: none;
text-align: left;   
margin-right: 50px;
cursor: url('../images/arrow-down.png'), auto;

}


@media only screen and (max-width: 900px){
    .right p {font-size: 15px; margin-left: 60px; width: 170px}
    .right h1 {font-size: 20px; margin-left: 60px; width: 150px}
    .right img {margin-left: 55px;}
    .right video {width: 100%; height: auto;margin-left: 60px;}    
    
    }
}

</style>